---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - posts
    - staffMembers
  addAllPagesToCollections: true
layout: layouts/page.njk
eleventyComputed:
  title: "{{ tag }} Blog"
permalink: /category/{{ tag | slug }}/
---
<p class="editable">You're currently looking at posts categorised under <strong>{{ tag }}</strong>.
<a href="/blog/">View all posts</a> instead.</p>

<ol class="post-list">
  {% for post in collections[tag] | reverse %}
    {%- include 'post-summary.njk' -%}
  {% endfor %}
</ol>
