---
layout: layouts/page.njk
---
{% set post = collections.posts | getCollectionItem(page) %}
{% include 'post-summary-details.njk' %}

<div>{{ content | safe }}</div>

<h2>Meet the author</h2>
<div class="post-author staff">
	{% set member = collections.staffMembers | getCollectionItemByUuid(post.data.author) %}
	{% include 'staff-member.njk' %}
</div>

<h2>Keep reading</h2>
<ol class="post-links post-list">
	{% set post = collections.posts | getNextCollectionItem(page) %}
	{% if post %}
		{% include 'post-summary.njk' %}
	{% else %}
		{% set post = collections.posts | getPreviousCollectionItem(page) %}
		{% if post %}
			{% include 'post-summary.njk' %}
		{% endif %}
	{% endif %}
</ol>

{% if site.disqus_shortname %}
	<h2>Have your say</h2>
	<div class="post-comments" id="disqus_thread"></div>

	<script>
		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
		/*
		var disqus_config = function () {
		this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		*/
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
